@{
    ViewData["Title"] = "Home Page";
}

<style>
    .searchbar 
    {
        margin-top: 25px;
        margin-left: 283px;
        width: 100%;
    }
</style>

<form class="container" action="/customer">
    <div class="input-group searchbar" >
        <input type="text" placeholder="Search for a customer..." name="search" size="50">
        <span class="input-group-btn">
            <button class="btn btn-success" type="submit">
                <i class="fa fa-search fa-fw"></i>Search
            </button>
        </span>
     </div>
</form>

<br />
<br />

<div class="container" align="center" >
    <i>
        <font size="10">
            it's nice to be important ...
            <br>
            ... but it's more important to be nice
        </font>
    </i>
</div>
